<h1>Reading List API</h1>
<p>
<pre>
  <h3>The following commands are available to you:</h3>

  Prefix Verb   URI Pattern                   Controller#Action
              root GET    /                             welcome#index
         api_books GET    /api/books(.:format)          api/books#index
                   POST   /api/books(.:format)          api/books#create
          api_book DELETE /api/books/:id(.:format)      api/books#destroy
api_finished_books GET    /api/finished_books(.:format) api/finished_books#index
        api_genres GET    /api/genres(.:format)         api/genres#index
</pre>
</p>

<p>
For example, to see all books currently available, run:
<br>
<i>"curl https://rocky-plains-7849.herokuapp.com/books"</i>
</p>

 <a href="https://github.com/jonassvalin/ReadingList">Source code</a>
